# This configuration is meant to be used in manual TEST or DEV.
# As well to setup build environment tools.

URLCHECKERTOOLS_GITLAB_CI_API_V4_URL=looks_like_https://your_server/api/v4
URLCHECKERTOOLS_GITLAB_PROJECT_ID=your_own_infra_integer_integer_project_id
